/*
Speciaal font voor DVD
Bron: https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website */
@font-face {
  font-family: "digitalsymbolsregular";
  src: url("../fonts/dvd-webfont.woff2") format("woff2"),
    url("../fonts/dvd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
  background: #ffe9d4;
}

header div:first-of-type {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

header h1 {
  animation: fontChange 5s infinite;
}

@keyframes fontChange {
  0% {
    font-family: "Courier New", Courier, monospace;
    transform: scale(0);
  }

  10% {
    font-family: "Courier New", Courier, monospace;
    transform: scale(1);
  }

  35% {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  55% {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  75% {
    font-family: "Times New Roman", Times, serif;
    transform: scale(1);
  }

  100% {
    transform: scale(800);
  }
}

.boompietest {
  position: fixed;
  z-index: 100;
  bottom: 10%;
  left: 14%;
  width: 35%;
}

.test {
  --vuurwerkPijlPositieLeft:20%;
  --vuurwerkPijlPositieBottom:13%;
  --vuurwerkPijlzIndex:11;
  --vuurwerkPijlColor:black;
  --vuurwerkPijlAnimatie:2s;
}

.test2 {
  --vuurwerkPijlPositieLeft:32%;
  --vuurwerkPijlPositieBottom:13%;
  --vuurwerkPijlzIndex:10;
  --vuurwerkPijlColor:gray;
  --vuurwerkPijlAnimatie:3s;
}

.test3 {
  --vuurwerkPijlPositieLeft:40%;
  --vuurwerkPijlPositieBottom:13%;
  --vuurwerkPijlzIndex:12;
  --vuurwerkPijlColor:black;
  --vuurwerkPijlAnimatie:2.5s;
}

.vuurwerk {
  padding: 0;
  margin: 0;
  height: .4em;
  width: .4em;
  position: fixed;
  list-style: none;
  transform-origin: bottom;
  bottom: var(--vuurwerkPijlPositieBottom);
  left: var(--vuurwerkPijlPositieLeft);
  z-index: var(--vuurwerkPijlzIndex);
  background-color: var(--vuurwerkPijlColor);
  animation: vuurwerkPad var(--vuurwerkPijlAnimatie) forwards ease-in;
}

.test li {
  --ColorFirework:blue;
}

.test2 li {
  --ColorFirework:green;
}

.test3 li {
  --ColorFirework:red;
}

.vuurwerk li {
  position: absolute;
  height: 1em;
  width: 1em;
  background: var(--ColorFirework);
  border-radius: 50%;
  animation: vuurwerkBoem 0.5s forwards;
  animation-delay: var(--vuurwerkPijlAnimatie);
  transform: scale(0);
  /* animation-play-state: paused; */
}

.vuurwerk li:first-of-type {
  --upDown: 10em;
  --leftRight: 10em;
}

.vuurwerk li:nth-of-type(2) {
  --upDown: -10em;
  --leftRight: 10em;
}

.vuurwerk li:nth-of-type(3) {
  --upDown: -10em;
  --leftRight: -10em;
}

.vuurwerk li:nth-of-type(4) {
  --upDown: 10em;
  --leftRight: -10em;
}

.vuurwerk li:nth-of-type(5) {
  --upDown: 0em;
  --leftRight: 10em;
}

.vuurwerk li:nth-of-type(6) {
  --upDown: 10em;
  --leftRight: 0em;
}

.vuurwerk li:nth-of-type(7) {
  --upDown: 0em;
  --leftRight: -10em;
}

.vuurwerk li:last-of-type {
  --upDown: -10em;
  --leftRight: 0em;
}

@keyframes vuurwerkBoem {
  0% {
    transform: translate(0em, 0em) scale(1);
  }

  100% {
    transform: translate(var(--leftRight), var(--upDown));
    opacity: 0;
  }
}

@keyframes vuurwerkPad {
  0% {
  }

  99% {
    background-color: black;
  }

  100% {
    transform: translate(4em, -28em) rotateX(30deg) rotateY(17deg)
      rotateZ(11deg) scale(0.6);
    background-color: transparent;
  }
}

img {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 60%;
}

/* Mario image */
div img:last-of-type {
  transition: 4s;
  width: 100%;
  z-index: 1;
  /* animation: marioLooptAnimatie 1s infinite; */
}

/* Mario div */
.marioDraai {
  /* animation: marioLooptPad 10s infinite; */
  position: absolute;
  z-index: 15;
  width: 15%;
  height: auto;
  bottom: 2vh;
  right: 12vw;
}

/* transform: translate(-135%, -39%) scale(.6) rotateY(0deg) rotate(5deg); */

@keyframes marioLooptAnimatie {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes marioLooptPad {
  0% {
    transform: translate(1vw, 35vh) scale(1.5) rotateY(0deg);
  }

  35% {
    transform: translate(-36vw, -20vh) scale(0.5) rotateY(0deg);
  }

  40% {
    transform: translate(-36vw, -20vh) scale(0.5) rotateY(180deg);
  }

  65% {
    transform: translate(-10vw, -20vh) scale(0.5) rotateY(180deg);
  }

  70% {
    transform: translate(-10vw, -20vh) scale(0.5) rotateY(0deg);
  }

  100% {
    transform: translate(1vw, 35vh) scale(1.5) rotateY(0deg);
  }
}

.scene {
  perspective: 25vh;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  position: fixed;
  top: 0;
  left: 0;
}

main noscript div:first-of-type {
  width: 100vw;
  height: 100vh;
  background: #ad8762;
  position: fixed;
  top: 0;
}

.scene div {
  background: #ad8762;
  box-shadow: 0px 0px 200px 4px black inset, 0px 0px 200px -20px black;
}

/* Doos zeide Links */
.scene div:first-of-type {
  position: absolute;
  height: 100vh;
  width: 21em;
  background: #ad8762;
  transform-origin: left center;
  transform: rotateY(90deg);
  top: 0;
  left: 0;
}

/* Doos zeide Top */
.scene div:nth-of-type(2) {
  position: absolute;
  height: 21em;
  width: 101vw;
  transform-origin: center bottom;
  transform: rotateX(90deg);
  bottom: 0;
}

/* Doos zeide Bottom */
.scene div:nth-of-type(3) {
  position: absolute;
  height: 21em;
  width: 101vw;
  transform-origin: center top;
  transform: rotateX(-90deg);
  top: 0;
}

/* Doos zeide Back */
.scene div:nth-of-type(4) {
  position: absolute;
  height: 101vh;
  width: 100vw;
  transform-origin: center center;
  transform: translateZ(-20em);
  top: 0;
}

/* Doos zeide Right */
.scene div:last-of-type {
  position: absolute;
  height: 101vh;
  width: 21em;
  transform-origin: right center;
  transform: rotateY(-90deg);
  top: 0;
  right: 0;
}
